<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
   <%- include('navbar.ejs') %>
  
  <div class="text-center">
    <h1>Welcome to your Profile, Colby</h1>
    <br>
    <h2>Profile Information:</h2>
    <br>
    <p> First Name: Colby  </p>
    <p> Middle Inital: M </p>
    <p> Last Name: McManis </p>
    <p> Email: Colbymcmanis01@gmail.com </p>
    <p> Home Phone: (620) 764-2926 </p>
    <p> Cell Phone: (620) 238-1256 </p>
    <p> Address: 311 East Ninth Street Pittsburg, KS 66762 </p>


  </div>

  </body>
</html>